html {
    scroll-behavior: smooth;
  }

  body{
    width: 400px;
  }

.primary-block {
  background-color: #aee1f9;
  background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
  text-align: -webkit-center;
  width: 400px;
}

.heading-block {
  font-size: 30px;
  background-image: linear-gradient(315deg, #0893d2 0%, #a3b4f1 78%);
  color: white;
}

.heading-label {
    padding: 5px 0px;
}

.link-label {
    text-decoration: none;
    color: white;
}

.root {
    width: 70%;
}

.list_block {
  padding: 4%;
}

.progressbar {
  background: #e4e4e4;
  text-align: center;
  margin: 10px auto;
  height: 20px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.025em;
  width: 80%;
  height: auto;
  margin-top: 1rem;
  position: relative;
}

.progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #e5f5fb;
}

.progressbar-visual {
  background: #53d75e;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #39da96;
  border-radius: 0;
}

.error {
  background-color: red;
}

.progressbar-text {
  color: #000;
  font-size: 0.8em;
  display: inline;
  position: relative;
  padding: 0.025em;
  text-align: center;
  margin: 0 auto;
}